@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>
<div>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Customer", "Create", "Customer")</li>
        <li>@Html.ActionLink("Repairer", "Create", "Repairer")</li>
        <li>@Html.ActionLink("Admin", "Register", "Account")</li>
    </ul>
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
