@model Reparatieshop.Models.Repairer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Repairer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wage)
        </dd>

        <h4>Assignment Details</h4>

        <table class="table-detail">
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>Description</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Products</th>
            </tr>
            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                    </td>
                    <td>
                        @foreach (var product in item.Products)
                        {
                            if (product != null)
                            {
                                @Html.DisplayFor(modelitem => product.Name);
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RepairerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
