@model IEnumerable<Reparatieshop.Models.Product>

@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Add this Part", "AddProducts", new { id=item.ProductId, returnUrl = ViewBag.returnurl, ViewBag.AssignmentId })
        </td>
    </tr>
}

</table>
