@model Reparatieshop.Models.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>

        <h4>Product Details</h4>

        <table class="table-detail">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Used at assignment</th>
            </tr>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assignment.Description)<br />
                    </td>
                </tr>
            }
        </table>
    </dl>
</div>

<div class="form-group">
    <label>Total costs: @ViewBag.TotalCosts</label>
</div>

<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.AssignmentId })
    }
    | @Html.ActionLink("Back to List", "Index")
</p>
