@using Reparatieshop.Models
@using Reparatieshop.Extensions
@model IEnumerable<Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Administrator") || User.IsInRole("Repairer"))
{
    <div>
        <!-- #region Example Code -->
        @*@foreach (var item in ViewBag.Status)
            {
                var s = item as string;
                @s;
            };*@
        @*@Model.HoeveelheidKlaar()*@
        <!-- #endregion -->

        @Html.Label((string)@ViewBag.Pending, new { @class = "top-overview status-color-gray" })
        @Html.Label((string)@ViewBag.in_progress, new { @class = "top-overview status-color-orange" })
        @Html.Label((string)@ViewBag.Waiting_for_parts, new { @class = "top-overview  status-color-yellow" })
        @Html.Label((string)@ViewBag.Done, new { @class = "top-overview status-color-blue" })
    </div>
}


@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<!-- #region Example code-->
@*@using (Html.BeginForm())
    {
        <p>
            Find by date: @Html.TextBoxFor("searchString", ViewBag.CurrentFilter as DateTime);
                Find by date: @Html.TextBox("searchString");
                <input type="submit" value="Search" />

            Find by date: <input type="date" id="searchString" />
            <input type="submit" value="Search" />
        </p>
    }*@
<!-- #endregion -->
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.StartSortParam })
        </th>
        <th>
            @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class=@ColorExtension.CheckDate(item)>@Html.DisplayFor(modelItem => item.Start)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                <span class=@ColorExtension.CheckStatus(item)>@Html.DisplayFor(modelItem => item.Status)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked)
            </td>
            <td>
                @foreach (var product in item.Products)
                {
                    @Html.DisplayFor(modelItem => product.Name)<br />
                }
            </td>
            <td>
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.AssignmentId })
                }
                | @Html.ActionLink("Details", "Details", new { id = item.AssignmentId }) |
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.AssignmentId })
                }
            </td>
        </tr>
    }
</table>

@Html.Hidden(DateTime.Now.ToString())

@section scripts{
    <script></script>
}
